<html>
<body>
    <form action = "http://localhost:5000/register" method = "POST">
    <p>Enter Name:</p>
    <p><input type= "text" name = "name"/></p>
    <p>Enter Password:</p>
    <p><input type= "text" name = "password"/></p>
    <p>Enter emailid:</p>
    <p><input type= "text" name = "emailid"/></p>
    <p>Enter Phone number:</p>
    <p><input type= "text" name = "phone"/></p>
    <p>Enter Date of birth:</p>
    <p><input type= "text" name = "dob"/></p>
    <p><input type= "submit" name = "Register"/></p>
    </form>
</body>
</html>