<html>
<body>
    <form action = "http://localhost:5000/prediction" method = "POST">
    <p>Enter Size(sqft):</p>
    <p><input type= "text" name = "total_sqft"/></p>
    <p>Enter BHK Type:</p>
    <p><input type= "text" name = "bhk"/></p>
    <p>Enter No of Bathrooms:</p>
    <p><input type= "text" name = "bath"/></p>
    <p>Enter Location:</p>
    <p><input type= "text" name = "location"/></p>
    <p>Enter Availability:</p>
    <p><input type= "text" name = "availability"/></p>
    <p>Enter No of Balcony:</p>
    <p><input type= "text" name = "balcony"/></p>
    <p><input type= "submit" name = "Submit"/></p>
    </form>
</body>
</html>